:host {
    display: block;
    left: 0;

    height: 100%;
    width: 20ex;
    background-color: lightgray;
}

.example-viewport {
    height: 100%;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }