.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.radio-button {
    margin: 5px;
}


table {
    width: 100%;
  }
  
.table-container {
position: relative;
overflow: auto;
width: 1200px
}