<div fxLayout="row">

  <mat-radio-group class="radio-group" (change)="radioChange($event)">
    <mat-radio-button *ngFor="let document of documents" 
    class="radio-button"
    [value]="document">
      {{document}} 
    </mat-radio-button>
  </mat-radio-group>

  <div class="table-container">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
      <ng-container [matColumnDef]="column" *ngFor="let column of columnHeads">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnHeads"></tr>
      <tr mat-row *matRowDef="let row; columns: columnHeads;"></tr>
    </table>
  </div>

</div>